<div id="<%= dom_id recipe %>" >
  <div>
    <div>
      <h2><%= link_to user_recipe_path(recipe.user.id, recipe.id), do %>
          <%= recipe.name%>
        <% end %></h2>
      <p>By: <%= recipe.user.name %></p>
    </div>
    <div>
      <p>Total Food Items: <%= @ingredients.where(recipe: recipe).count %></p>
      <p>Total Price: $<%= @ingredients.where(recipe: recipe).map {|value| value.food.price * value.quantity}.sum %></p>
    </div>
  </div>
</div>
