<div id="<%= dom_id recipe %>" class="border border-gray-200 rounded-lg p-4 mb-4">
  <div class="flex justify-between items-center">
    <div>
      <h2 class="text-xl font-bold mb-2">
        <%= link_to user_recipe_path(recipe.user.id, recipe.id), class:"text-gray-900 hover:text-gray-600" do %>
          <%= recipe.name%>
        <% end %>
      </h2>
      <p class="text-gray-700">By: <%= recipe.user.name %></p>
    </div>
    <div>
      <p class="text-gray-700">Total Food Items: <%= @ingredients.where(recipe: recipe).count %></p>
      <p class="text-gray-700">Total Price: $<%= @ingredients.where(recipe: recipe).map {|value| value.food.price * value.quantity}.sum %></p>
    </div>
  </div>
</div>
