<div id="<%= dom_id recipe %>">
  <div>
    <div>
      <h3>
        <%= link_to user_recipe_path(recipe.user, recipe), do %>
          <%= recipe.name%>
        <% end %>
      </h3>
      <% if current_user.id == recipe.user_id %>
      <%= button_to "Remove", user_recipe_path(recipe.user, recipe), method: :delete %>
      <% end %>
    </div>
    <div>
      <p>
        <strong>Description:</strong>
        <%= recipe.description %>
      </p>
    </div>
  </div>
</div>
