<div>
  <div>
    <h1>Recipes</h1>
    <%= link_to "Add New Recipe", new_user_recipe_path %>
</div>

  <div>
    <% @recipes.each do |recipe| %>
      <% if current_user.id == recipe.user_id %>
        <%= link_to user_recipes_path(recipe) do %>
          <%= render recipe %>
        <% end %>
      <% else %>
        <%= link_to public_recipes_path(recipe) do %>
          <%= render recipe %>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>
