<div class="recipe-show">
  <h2 class=""><%= @recipe.name %></h2>
  <div>
    <div class="">
      <div class="prep">
        <div class="preparation">
          <p>
            <strong>Preparation Time:&nbsp;</strong>
            <%= @recipe.preparation_time %> hour
          </p>

          <div class="check-box">
            <%= form_with(url: user_recipe_path(@recipe)) do |form| %>
              Public: <%= form.check_box :public, { checked: @recipe.public, disabled: true }, class: 'check-bo' %>
            <% end %>
        </div>
        </div>
        <p>
          <strong>Cooking Time:&nbsp;</strong>
          <%= @recipe.cooking_time %> hour
        </p>
        <p>
          <strong>steps go here...</strong>
        </p>
      </div>
    </div>

    <div class="mt-10">
      <div class="recipe-show-buttons">
      <% if current_user && current_user.id == @recipe.user_id %>
        <%= link_to 'Generate Shopping List', shopping_list_path, class: "generate-shopping-list"  %>
        <%= link_to 'Add Ingredient', new_user_recipe_recipe_food_path(user_id: @recipe.user_id, recipe_id: @recipe.id), class: "add-ingredient" %>
        <% end %>
      </div>
    </div>

  </div>

  <hr class="recipe-show-line">

  <div class="">
    <table class="table-auto w-full ml-32">
      <thead class="">
        <tr class="bg-gray-200 text-gray-700">
          <th class="py-2 px-8 font-semibold">Food</th>
          <th class="py-2 px-8 font-semibold">Quantity</th>
          <th class="py-2 px-8 font-semibold">Value</th>
          <% if current_user && current_user.id == @recipe.user_id %>
          <th class="py-2 px-8 font-semibold">Actions</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @recipe.recipe_foods.each do |recipe_food| %>
        <tr class="text-center border-b border-gray-300">
          <td class="py-2 px-4"><%= recipe_food.food.name %></td>
          <td class="py-2 px-4"><%= recipe_food.quantity %> <%= recipe_food.food.measurement_unit%> </td>
          <td class="py-2 px-4">$<%= recipe_food.food.price * recipe_food.quantity%></td>
          <% if current_user && current_user.id == @recipe.user_id %>
          <td class="py-2 px-4">
            <%= button_to 'Delete', user_recipe_recipe_food_path(recipe_id: @recipe.id, id: recipe_food.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded-full" %>
          </td>
          <% end %>
        </tr>
        <% end %>
    </tbody>
</table>
  </div>
</div>
