<header class="bg-gray-100 py-4">
  <div class="container flex items-center justify-between">
    <a class="text-2xl font-bold text-blue-500 no-underline ml-8" href="/">
      Recipe App
    </a>
    <nav class="flex items-center space-x-6">
      <% if user_signed_in?%>
        <%= link_to "Recipes" , user_recipes_path(user_id: current_user.id), class: "text-gray-700 hover:text-blue-500 no-underline" %>
        <%= link_to "Shopping list", shopping_list_path, class: "text-gray-700 hover:text-blue-500 no-underline" %>
        <%= link_to "Public Recipes", public_recipes_path, class: "text-gray-700 hover:text-blue-500 no-underline" %>
      <%end%>
      <%if user_signed_in?%>
        <p class="text-gray-700">Welcome <%= current_user.name.capitalize %>!</p>
      <%end%>
      <%= button_to "Log Out" , destroy_user_session_path, method: :delete, class: "bg-red-500 text-white py-2 px-4 rounded-md hover:bg-red-600" %>
    </nav>
  </div>
</header>
