<h1>Food List</h1>
<%= link_to "Add New Food", new_user_food_path(@user) %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Measurement Unit</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= food.price %></td>
        <td><%= food.quantity %></td>
        <td>
          <%= button_to "Delete", user_food_path(@user, food), method: :delete, class: "btn btn-link", data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
