<h1 class="text-center">Food List</h1>

<div class="text-center">
  <%= link_to "Add New Food", new_user_food_path(@user), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
</div>

<table class="mx-auto my-8">
  <thead>
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Measurement Unit</th>
      <th class="text-center">Price</th>
      <th class="text-center">Quantity</th>
      <th class="text-center">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name %></td>
        <td><%= food.measurement_unit %></td>
        <td><%= food.price %></td>
        <td><%= food.quantity %></td>
        <td>
          <%= button_to "Delete", user_food_path(@user, food), method: :delete, data: { confirm: "Are you sure?" }, class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
